__pycache__/
*.pyc
.pytest_cache/
otakudesu.best/
web.facebook.com/
www.facebook.com/
str.desustream.com/
filedon.co/
odvidhide.com/
mega.nz/
youtube.googleapis.com/
www.blogger.com/
jnn-pa.googleapis.com/
index.csv
index.md
README.md
